In [35]:
# importing the necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
# loading and reading the data
data = pd.read_csv('spam.csv')

In [37]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [38]:
data.shape

(5572, 5)

In [39]:
data.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [40]:
data.isnull()

         v1     v2  Unnamed: 2  Unnamed: 3  Unnamed: 4
0     False  False        True        True        True
1     False  False        True        True        True
2     False  False        True        True        True
3     False  False        True        True        True
4     False  False        True        True        True
...     ...    ...         ...         ...         ...
5567  False  False        True        True        True
5568  False  False        True        True        True
5569  False  False        True        True        True
5570  False  False        True        True        True
5571  False  False        True        True        True

[5572 rows x 5 columns]

In [41]:
data.dropna()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
281,ham,\Wen u miss someone,the person is definitely special for u..... B...,why to miss them,"just Keep-in-touch\"" gdeve.."""
1038,ham,"Edison has rightly said, \A fool can ask more ...",GN,GE,"GNT:-)"""
2255,ham,I just lov this line: \Hurt me with the truth,I don't mind,i wil tolerat.bcs ur my someone..... But,"Never comfort me with a lie\"" gud ni8 and swe..."
3525,ham,\HEY BABE! FAR 2 SPUN-OUT 2 SPK AT DA MO... DE...,HAD A COOL NYTHO,TX 4 FONIN HON,"CALL 2MWEN IM BK FRMCLOUD 9! J X\"""""
4668,ham,"When I was born, GOD said, \Oh No! Another IDI...",GOD said,"\""OH No! COMPETITION\"". Who knew","one day these two will become FREINDS FOREVER!"""
5048,ham,"Edison has rightly said, \A fool can ask more ...",GN,GE,"GNT:-)"""

In [42]:
data.drop_duplicates()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [43]:
# here i renamed the v2 column to EmailText and the v1 column to Label. This will make it easier to distinguish while training
data.rename(columns = {'v2':'EmailText'}, inplace = True)
data.rename(columns = {'v1':'Label'}, inplace = True)

## Training the model

In [44]:
# importing libraries
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import svm

In [47]:
X = data['EmailText']
y = data["Label"]
z_train, z_test,y_train, y_test = train_test_split(X,y,test_size = 0.2)

In [49]:
# Feature Extraction
cv = CountVectorizer()
features = cv.fit_transform(z_train)

In [78]:
print(features)

  (0, 2391)	1
  (0, 3355)	1
  (0, 978)	1
  (0, 4851)	1
  (0, 6459)	1
  (0, 3356)	1
  (0, 6850)	1
  (0, 7171)	1
  (0, 6659)	1
  (0, 7397)	1
  (0, 6924)	1
  (0, 1076)	1
  (0, 895)	1
  (1, 7397)	1
  (1, 6924)	1
  (1, 4911)	1
  (1, 925)	1
  (1, 4931)	1
  (1, 6797)	1
  (1, 3474)	1
  (1, 3427)	2
  (2, 3454)	1
  (2, 6962)	1
  (2, 4345)	1
  (2, 4887)	1
  :	:
  (4455, 3119)	1
  (4455, 3161)	1
  (4455, 4026)	1
  (4455, 6840)	1
  (4455, 989)	1
  (4455, 4203)	1
  (4455, 2000)	1
  (4455, 4193)	1
  (4455, 7359)	1
  (4455, 1628)	1
  (4455, 5524)	1
  (4455, 6877)	1
  (4455, 2995)	1
  (4455, 2154)	1
  (4456, 3756)	1
  (4456, 7471)	1
  (4456, 7688)	1
  (4456, 1256)	1
  (4456, 3161)	1
  (4456, 4578)	1
  (4456, 7596)	1
  (4456, 7159)	1
  (4456, 6172)	1
  (4456, 3278)	1
  (4456, 1017)	1

In [50]:
# building the model using SVM
Sentry = svm.SVC()
Sentry.fit(features,y_train)

SVC()

Evaluating the Model

In [62]:
from sklearn.metrics import accuracy_score

features_test = cv.transform(z_test)
predictions = Sentry.predict(features_test)
accuracy = accuracy_score(y_test, predictions)
print("Model Accuracy: {:.2f}%".format(accuracy * 100))

Model Accuracy: 98.39%